@font-face {
  font-family: "Segoe UI";
  font-weight: lighter;
  src: local("Segoe UI Light"), local('SegoeUI-Light'), url('/fonts/segoe-ui-lighter.woff') format('woff');
}
@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  src: local("Segoe UI"), local('SegoeUI'), url('/fonts/segoe-ui-normal.woff') format('woff');
}
@font-face {
  font-family: "Segoe UI";
  font-weight: bold;
  src: local("Segoe UI Bold"), local('SegoeUI-Bold'), url('/fonts/segoe-ui-bold.woff') format('woff');
}
.centered{
    text-align: center;
    margin: auto;
}
button{
    text-decoration: none;
    font: inherit;
    font-size: 20px;
    color: white;
    padding: 0.14vh 1vw 0.7vh 1vw;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 0.84vh 0.42vh -0.7vh #333333;
    transition: .3s ease;
}
.main-color-button{
    background: #30b280;
}
.main-color-button:hover{
    background: #62d9ac;
}
button a{
    text-decoration: inherit;
    color: inherit;
}
.email-address{
    text-decoration: underline;
    color: #0000ff;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
form *{
    margin: 1vh 0;
    padding: 1vmin;
    font: inherit;
}
html, body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    height: 100%;
}
.hidden-until-ready, .hidden{
    display: none;
}
#wrapper{
    display: flex;
    flex-direction: column;
    font: normal 14pt "Segoe UI";
    min-height: 100%;
}
header, footer{
    flex: 0 1 auto;
    box-shadow: 0px 0px 6vh 0px #333333;
}
header a{
    text-decoration: none;
    color: inherit;
}
#nav-toggle{
    display: none;
}
#nav-toggle hr{
    border: 0px;
    width: 30px;
    height: 4px;
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    background: #30b280;
}
#top-header{
    font-size: 40pt;
    font-weight: normal;
    padding-left: 1vw;
}
#top-header span{
    color: #30b280;
}
#lower-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background: #30b280;
    font-weight: lighter;
    min-height: 1vh;
}
#lower-header a{
    font-size: 15pt;
    color: white;
    text-align: center;
    min-width: 13%;
    transition: background .5s ease;
}
#lower-header a:hover{
    background: #62d9ac;
}
#lower-header a:active{
    background: #82d9b8;
}
#lower-header a div{
    margin: 0.75vw;
}
#lower-header a hr{
    border: 0px;
    height: 0.7vh;
    margin-bottom:  0.7vh;
    transition: background .3s ease;
}
#lower-header .active hr, #lower-header a:active hr{
    background: white;
}
#up-button{
    position: fixed;
    bottom: 10vh;
    right: 2vw;
}
#up-arrow{
    border: 2vw solid transparent;
    border-bottom-color: #999999;
    transition: .3s ease;
}
#up-arrow:hover{
    border-bottom-color: #666666;
}
#content{
    flex: 1 1 auto;
    padding: 7vh 8vw 7vh 4vw;
    height: 100%;
}
footer{
    background: #30b280;
    color: white;
}
footer div{
    margin: 0.75vw;
}
footer a{
    color: inherit;
}
footer .footer-email{
    float: left;
}
footer .footer-column{
    float: right;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 500px) {
    td{
        display: inline-block;
    }
    #nav-toggle {
        display: inline-block;
    }
    #top-header{
        border-bottom: 1vh solid #30b280;
        font-size: 20pt;
    }
    #lower-header{
        display: none;
        flex-flow: column nowrap;
        border-bottom: 1vh solid #30b280;
    }
    #lower-header a hr{
        margin: 0px;
    }
    #content{
        word-wrap: break-word;
    }
}