#top-header{
    border-bottom: 1vh solid #30b280;
}
.price{
    color: #30b280;
    font-weight: normal;
    font-size: 24px;
}
#pay-button{
    background: #30b280;
}
#pay-button:hover{
    background: #62d9ac;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
form *{
    margin: 1vh 0;
    padding: 1vmin;
    font: inherit;
}
#service-name{
    display: none;
}
.required-field-identifier{
    color: red;
}